@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  background: #14001d
}

.animate__animated.animate__fadeInRight {
  --animate-duration: 1s;
}

.custom-gradient {
  background: radial-gradient(circle, rgba(50, 50, 50, 1) 0%, rgba(0, 0, 0, 0) 70%);
}
